:root {
  /* font family */
  --ff: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  /* font size */
  --fs-sm: 1.2rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.5rem;
  /* font weight */
  --fw-sm: 500;
  --fw-md: 600;
  --fw-lg: 800;
  /* colors */
  --text-white: whitesmoke;
  --text-white-hov: rgb(189, 188, 188);
  --bg-black: #000;
  /* dividers */
  --section-divider: 8rem;
  --wrapper-max: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}

html {
  font-family: var(--ff);
}

body {
  margin: 0;
  font-size: var(--fs-sm);
}

img,
picture {
  width: auto !important;
  max-width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.nav-link:hover,
.auth-link:hover {
  opacity: 50%;
}

/* default text */

h1 {
  font-size: var(--fs-lg);
  text-shadow: 1px 1px 48px whitesmoke;
}
h2 {
  font-size: var(--fs-md);
}
p {
  line-height: 1.5;
}

/* layout */
.container_row-gap > :not(:last-child) {
  margin-bottom: 2rem;
}

.wrapper {
  width: 100%;
  max-width: var(--wrapper-max);
  margin-inline: auto !important;
}
/* fix media query if change var(--wrapper-max) */
@media (width < 1200px) {
  .wrapper {
    padding-inline: 2rem;
  }
}

.logo {
  width: 32px !important;
}

.card_overflow-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.row-ellipsis-3 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.call-grid img {
  width: 84px !important;
}

/* archive posts page */
.archive-grid {
  display: grid;
  /* width: clamp(800px, 75%, 1200px); */
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

/* post page */
.post-image-container {
  width: 100%;
}
.post-image {
  display: block !important;
  max-height: 350px;
  object-fit: cover;
  margin-inline: auto !important;
  border-radius: 10px;
}

.body-text {
  text-indent: 4ch;
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 2;
}
