:root {
  /* font family */
  --ff: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  /* font size */
  --fs-sm: 1.2rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.5rem;
  /* font weight */
  --fw-sm: 500;
  --fw-md: 600;
  --fw-lg: 800;
  /* colors */
  --text-white: whitesmoke;
  --text-white-hov: rgb(189, 188, 188);
  --bg-black: #000;
  /* dividers */
  --section-divider: 8rem;
  --wrapper-max: 1200px;
  /* loading animation */
  --ball-size: 17px;
  --ball-duration: 1400ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}

html {
  font-family: var(--ff);
}

body {
  margin: 0;
  font-size: var(--fs-sm);
}

img,
picture {
  width: auto !important;
  max-width: 100%;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.nav-link:hover,
.auth-link:hover {
  opacity: 50%;
}

/* default text */

h1 {
  font-size: var(--fs-lg);
  text-shadow: 1px 1px 48px whitesmoke;
}
h2 {
  font-size: var(--fs-md);
}
p {
  line-height: 1.5;
}

/* layout */
.top-logo-div-sm {
  display: none;
}

@media (max-width: 750px) {
  /* remove top and bottom logo */
  a:has(.top-logo),
  .bottom-logo {
    display: none !important;
  }

  /* show checkbox logo for dropdown menu */
  .top-logo-li {
    align-self: start !important;
  }
  .top-logo-div-sm {
    display: block;
  }
  .top-logo-div-sm > .top-check {
    position: relative;
  }
  .top-check {
    display: block;
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
  }

  /* order nav list items */
  .brand-li {
    order: 2;
  }
  .about-li {
    order: 3;
  }
  .archive-li {
    order: 4;
  }
  .all-posts-li {
    order: 5;
  }
  .make-posts-li {
    order: 6;
  }
}

.container_row-gap > :not(:last-child) {
  margin-bottom: 2rem;
}

.wrapper {
  width: 100%;
  max-width: var(--wrapper-max);
  margin-inline: auto !important;
}
/* fix media query if change var(--wrapper-max) */
@media (width < 1200px) {
  .wrapper {
    padding-inline: 2rem;
  }
}

.logo {
  width: 32px !important;
}

.card_overflow-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card_overflow-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.row-ellipsis-3 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.call-grid img {
  width: 84px !important;
}

/* archive posts page */
.archive-grid {
  --grid-cols: 3;
  display: grid;
  /* width: clamp(800px, 75%, 1200px); */
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 5rem;
}

@media (max-width: 1000px) {
  .archive-grid {
    --grid-cols: 2;
  }
}
@media (max-width: 525px) {
  .archive-grid {
    --grid-cols: 1;
  }
}

a.update-btn:hover {
  background-color: #e1b634 !important;
}

/* post page */
.post-image-container {
  width: 100%;
}
.post-image {
  display: block !important;
  max-height: 350px;
  object-fit: cover;
  margin-inline: auto !important;
  border-radius: 10px;
}

.body-text-parent {
  max-width: 75ch;
}
.body-text {
  text-indent: 4ch;
  /* max-width: 75ch; */
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 2;
}
.body-text:not(:last-of-type) {
  margin-bottom: 2rem;
}

/* update page */

.update-thumbnail {
  width: 50px !important;
  max-width: none !important;
}

/* loading icon */

.loading-wrapper {
  /* isolation: isolate; */
  position: relative;
  width: 100px;
}

.loading-ball {
  position: absolute;
  width: var(--ball-size);
  aspect-ratio: 1/1;
  border-radius: 100vw;
  background-color: #0d6efd;
}

[data-ball="1"] {
  left: 0;
  animation: ballSlideLeft var(--ball-duration) linear forwards infinite;
}
[data-ball="2"] {
  left: 50%;
  background-color: #9ec2f9;
  transform: translateX(-50%);
}
[data-ball="3"] {
  right: 0;
  animation: ballSlideRight var(--ball-duration) linear forwards infinite;
}

@keyframes ballSlideLeft {
  0% {
    left: 0;
    scale: 1;
  }
  50% {
    scale: 1.5;
    left: calc(100% - var(--ball-size));
  }
  100% {
    left: 0;
    scale: 1;
  }
}
@keyframes ballSlideRight {
  0% {
    right: 0;
    scale: 1;
  }
  50% {
    scale: 1.5;
    right: calc(100% - var(--ball-size));
  }
  100% {
    right: 0;
    scale: 1;
  }
}
